<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Vehicle</title>
</head>
<body>
    <h1>Edit Vehicle</h1>
    <form action="/vehicles/<%= vehicle.vin %>?_method=PATCH" method="POST">
        <label for="vin">VIN:</label>
        <input type="text" id="vin" name="vin" value="<%= vehicle.vin %>" readonly>
        <br><br>
        <label for="org">Organization ID:</label>
        <input type="text" id="org" name="org" value="<%= vehicle.org %>" required>
        <br><br>
        <button type="submit">Update Vehicle</button>
    </form>
    <a href="/">Back to Home</a>
</body>
</html>
