<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Displaying A Particular Porduct</h1>

    <h1><%=foundProduct.name%></h1>
    <img src="<%=foundProduct.img%>" alt="" height="30%" width="30%">
    <h2><%=foundProduct.price%></h2>
    <p><%=foundProduct.desc%></p>

    
</body>
</html>